DIAL_URL=http://host.docker.internal:8080
CONFIG_PATH=config.json
# CONFIG='{"default":{"track_user_data": true, "langfuse":{"secret_key": "dial_secret_key","public_key": "dial_secret_key","host": "http://host.docker.internal:4000"}}}'
# CONFIG_BASE64=AAAAAAAAAAAAAAAAAAAAAA
